{{ attach_library('ruhi/slider') }}
{% if slider_items %}
<section class="slider">
  <div class="container">
  <div class="slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        {% if slider_code != '' %}
          {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<em>,<strong>,<br>,<i>,<button>,<mark>,<hr>,<div>,<span>,<sub>,<sup>') | raw }}
        {% else %}
        {% for item in slider_items %}
        <li>
  				<h1>{{ item.title|raw }}</h1>
  				<p>{{ item.content|raw }}</p>
  				<a class="button" href="{{ item.cta.uri }}">{{ item.cta.title }}</a>
  			</li>
        {% endfor %}
        {% endif %}
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      {% if slider_image_path != '' %}
        <img src="{{ slider_image_path }}" alt="slider image" />
      {% else %}
        <img src="{{ directory }}/images/demo/slider.svg" alt="slider image" />
      {% endif %}
    </div><!-- /slider-image -->
  </div> <!--/.slider-container -->
  </div> <!--/.container -->
</section>
{% endif %}
